<ion-view view-title="Log In">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button>
            <i class="ion-arrow-left-c"></i>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="has-header">
        <form  ng-submit="login.signin()">
            <div class="list list-inset">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Email</span>
                    <input type="email"  placeholder="Email" ng-model="login.email">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="Password" ng-model="login.password">
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">Log in</button>
                </label>
            </div>
        </form>

    </ion-content>
</ion-view>