<ion-view view-title="Perfil">
    <ion-content>
        <div class="list card">
            <ion-item class="profile-item">
                <div>
                    <img ng-src="{{imageUrl}}" id="profile-image">
                </div>
                <h2 class="profile-name dark">{{perfil.currentUser.firstName}} {{perfil.currentUser.lastName}}</h2>
                <h3 class="profile-name dark">{{perfil.currentUser.carrera}}</h3>
                <h4 class="profile-name dark">{{perfil.currentUser.numeroControl}}</h4>
                </ion-item>
            <ion-item>
                <button class="button button-full button-positive" ng-click="addMedia()">
                    Cambiar foto de perfil
                    </button>
            </ion-item>
        </div>
    </ion-content>
</ion-view>