<ion-view view-title="Ito" hide-nav-bar="true" class="splash-page">
    <ion-content scroll="false">
        <br>
        <div style="margin: 0 auto; width: 200px" class="padding">
            <img src="img/itologo.png" height="180">
        </div>

        <div class="padding padding-bottom logo">
            <h1>Instituto Tecnológico de Orizaba</h1>
        </div>
        <br><br><br>
        <div class="row responsive-sm">
            <div class="button-bar">
            <a class="button button-clear" href="#/login">Log In</a>
            <a class="button button-clear" href="#/registro">Registro</a>
        </div>
        </div>
    </ion-content>
</ion-view>