<ion-view view-title="Ito" hide-nav-bar="true" class="splash-page">
    <ion-content scroll="false">
        <br>
            <div style="margin: 0 auto; width: 220px" class="padding">
                <img src="/img/ito.png" height="150">
            </div>

        <div class="padding padding-bottom logo">
            <h1>Instituto Tecnológico de Orizaba</h1>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="row responsive-sm">
        <button class="button button-block button-positive" ng-click="login()">Log in</button>
        </div>

        <div class="row responsive-sm">
            <p style="color: #dddddd">No estas registrado? <a ng-click="login()"> Registrate</a></p>
        </div>

    </ion-content>
</ion-view>