* {
    font-family: Roboto, Microsoft Sans Serif, Geneva, sans-serif;
}

.splash-page {
    background-color: #007aff;
    background-size: cover;
    background-repeat: no-repeat;
}

.splash-page .card {
    margin-top:40px;
}

.splash-page .logo h1{
    margin-top:10px;
    text-align:center;
    color:#fff !important;
    font-weight:bold;
    letter-spacing: -3px;
    font-size:42px;
}

.splash-page .signup-opt {
    color:#fff;
    padding:15px;
    margin-top:20px;
    font-weight: bold;
    cursor:pointer;
}

.splash-page .action-button {
    font-weight: bolder;
}

.profile-item {
    text-align: center;
}

.side-item {
    text-align: center;
    background-color: #00b8d4;
}

.profile-picture {
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 3px;
    border-radius: 100%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0 auto;
    width: 128px;
    height: 128px;
    overflow: hidden;
}
#profile-image {
    display: block;
    border-radius: 100px;
    border: 1px solid #fff;
    width: 128px;
    height: 128px;
    margin: 30px auto 0;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
}

.profile-picture img {
    width: 128px;
    border-radius: 100%;
}

.profile-name {
    padding-top: 20px;
    font-size: x-large !important;
    font-weight: bold !important;
    text-transform: capitalize;
}
.failure {
    display: none;
    text-align: left;
    font-weight: bold;
    color: red;
    padding-bottom: 10px;
}

.icon.new-item {
    position: absolute;
    right: 20px;
    font-size: 20px;
    bottom: 13px;
}
.cancel-create {
    position: absolute;
    right: 20px;
    font-size: 14px;
    bottom: 13px;
    color:#ef4e3a;
}
[ng-click], [data-ng-click], [x-ng-click] {
    cursor: pointer;
}
/* Ionic Overwrite! */
.item-icon-left .icon, .item-icon-right .icon {
    font-size: 22px;
}
.face {
    border-radius: 30px;
    border: 1px solid #ddd;
    display: inline;
    margin: 4px 16px;
    vertical-align: middle;
    width: 48px;
}

.escudo {
    border-radius: 30px;
    border: 0px transparent;
    display: inline;
    margin: 4px 16px;
    vertical-align: middle;
    width: 68px;
}
.google-maps {
    position: relative;
    padding-bottom: 200%;
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.custom {
    color: white;
    background-color: #00b0ff !important;
}